* {
  margin: 0;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
=======
  /* background: #ddd; */
>>>>>>> fe6c585... movie listing vue update
  background: #0f0f0f;
}

